
body {
  margin: 0;
}
a.navbar-brand img {
  width: 45px;
}

a.navbar-brand{
  font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    font-family: sans-serif;
    transition: all .2s ease-in-out;
}
.navbar-brand:hover{
  transform: scale(1.1);
}
.navbar-toggler:focus {
  box-shadow: none!important;
}

.navbar-wctn{
  padding-left: 10%!important;
  padding-right: 10%!important;
  margin: 0 auto;
  color: #fff;
}

.km_copy {
  color: #fff;
  /* cursor: pointer; */
}

.km_copy span{
  overflow: hidden;
  width: 29px;
  display: inline-flex;
  flex-direction: row-reverse;
  white-space: nowrap;
  transition: 500ms;
}
.km_copy a{
  color:#fff;
  text-decoration: none;
  
}
.km_copy:hover span {
  width: 49px;
}
.km_copy:hover a {
  /* color:#8b7404; */
}
.km_center{
  width:100%;
  text-align: center;
}
@media (min-width: 768px){
  /* .navbar-wctn{
    padding-left: 5%!important;
    padding-right: 5%!important;
  } */
}

li.nav-item a{
  color:#fff;
}
#site-grid {
  height: 100dvh;
  transition: 500ms;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  background: rgb(0, 0, 0);
  width:100%;
}

:where(.one, .two, .three, .four) {
  background: rgb(0, 0, 0);
  transition: 500ms;
}

:where(.one, .two, .three, .four):hover {
  background: rgb(61, 61, 61);
}


 /* grid animation on hover */
#site-grid:has(.one:hover) {
  grid-template-columns: 1.5fr 0.5fr 0.5fr 0.5fr;
}
#site-grid:has(.two:hover) {
  grid-template-columns: 0.5fr 1.5fr 0.5fr 0.5fr;
}
#site-grid:has(.three:hover) {
  grid-template-columns: 0.5fr 0.5fr 1.5fr 0.5fr;
}
#site-grid:has(.four:hover) {
  grid-template-columns: 0.5fr 0.5fr 0.5fr 1.5fr;
}
.one, .two, .three, .four{
  overflow: hidden;
}






.two{
  background-color: rgb(82, 6, 63);
}
.three{
  background-color: rgb(18, 90, 72);
}
.four{
  background-color: #4c5c05;
}


/* for grid images */

:where(.one, .two, .three, .four) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: inherit;
  top: 0;
  left: 0;
  opacity: 1;
	
}

.info li {
  color: rgb(255, 255, 255);
  }


:where(.one, .two, .three, .four):hover .g_title {
  transform: translateY(-436px);
  opacity: 1;
}
:where(.one, .two, .three, .four) hr {
 width:30%;
}

:where(.one, .two, .three, .four) .g_title {
  margin: 0px;
  bottom: 10%;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(-336px);
  transition: 0.4s;
  transition-delay: 0.20s;
  padding-left: 5%;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
 
}

:where(.one, .two, .three, .four) .info a {
  
  outline: none;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  width: 2.3rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

:where(.one, .two, .three, .four) .info li a {
color: rgb(255, 255, 255);
}

:where(.one, .two, .three, .four) .info li a i {
  display: flex;
  z-index: 999;
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s ease all;
}

:where(.one, .two, .three, .four) .info a:hover i {
  transform: scale3d(1.5, 1.5, 1);
}

:where(.one, .two, .three, .four) .info {
  bottom: 10%;
  z-index: 3;
  transition: 0.4s;
  transition-delay: 0.25s;
  padding-left: 5%;
}

:where(.one, .two, .three, .four) .info li {
  display: inline-flex;
  opacity: 0;
  transform: translateY(-42px);
  transition: 0.4s;
  transition-delay: 0.25s;
}




.one:hover .info li:first-child,
.two:hover .info li:first-child,
.three:hover .info li:first-child,
.four:hover .info li:first-child {
  transform: translateY(-430px);
  opacity: 1;
}
.one:hover .info li:nth-child(2),
.two:hover .info li:nth-child(2),
.three:hover .info li:nth-child(2),
.four:hover .info li:nth-child(2) {
  opacity: 1;
  transform: translateY(-430px);
  transition-delay: 0.35s;
}
.one:hover .info li:nth-child(3),
.two:hover .info li:nth-child(3),
.three:hover .info li:nth-child(3),
.four:hover .info li:nth-child(3) {
  opacity: 1;
  transform: translateY(-430px);
  transition-delay: 0.45s;
}
.one:hover .info li:nth-child(4),
.two:hover .info li:nth-child(4),
.three:hover .info li:nth-child(4),
.four:hover .info li:nth-child(4) {
  opacity: 1;
  transform: translateY(-430px);
  transition-delay: 0.55s;
}

.one:hover .info li:nth-child(5),
.two:hover .info li:nth-child(5),
.three:hover .info li:nth-child(5),
.four:hover .info li:nth-child(5) {
  opacity: 1;
  transform: translateY(-430px);
  transition-delay: 0.65s;
}

.one:hover .info li:nth-child(6),
.two:hover .info li:nth-child(6),
.three:hover .info li:nth-child(6),
.four:hover .info li:nth-child(6) {
  opacity: 1;
  transform: translateY(-430px);
  transition-delay: 0.75s;
}







/* mobile animation */
@media screen and (max-width: 768px) {

  .one, .two, .three, .four {
    transition: grid-template-columns 500ms, grid-template-rows 500ms;
  }
  .one, .two, .three, .four, #site-grid {
    transition: all 0.5s ease; /* Add the ease timing function */
  }

  #site-grid {
    grid-template-columns: 1fr;
  }
  
  #site-grid:has(.one:hover) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, 0.5fr);
  }
  
  #site-grid:has(.two:hover) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr repeat(2, 0.5fr);
  }
  
  #site-grid:has(.three:hover) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.5fr) 1fr 0.5fr;
  }
  
  #site-grid:has(.four:hover) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.5fr) 1fr;
  }
  :where(.one, .two, .three, .four) img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: inherit;
    top: 0;
    left: 0;
    opacity: 1;
    
  }
  :where(.one, .two, .three, .four):hover .g_title {
    transform: translateY(-205px);
    opacity: 1;
  }

  .one:hover .info li:first-child,
.two:hover .info li:first-child,
.three:hover .info li:first-child,
.four:hover .info li:first-child {
  transform: translateY(-205px);
  opacity: 1;
}
.one:hover .info li:nth-child(2),
.two:hover .info li:nth-child(2),
.three:hover .info li:nth-child(2),
.four:hover .info li:nth-child(2) {
  opacity: 1;
  transform: translateY(-205px);
  transition-delay: 0.35s;
}
.one:hover .info li:nth-child(3),
.two:hover .info li:nth-child(3),
.three:hover .info li:nth-child(3),
.four:hover .info li:nth-child(3) {
  opacity: 1;
  transform: translateY(-205px);
  transition-delay: 0.45s;
}
.one:hover .info li:nth-child(4),
.two:hover .info li:nth-child(4),
.three:hover .info li:nth-child(4),
.four:hover .info li:nth-child(4) {
  opacity: 1;
  transform: translateY(-205px);
  transition-delay: 0.55s;
}

.one:hover .info li:nth-child(5),
.two:hover .info li:nth-child(5),
.three:hover .info li:nth-child(5),
.four:hover .info li:nth-child(5) {
  opacity: 1;
  transform: translateY(-205px);
  transition-delay: 0.65s;
}

.one:hover .info li:nth-child(6),
.two:hover .info li:nth-child(6),
.three:hover .info li:nth-child(6),
.four:hover .info li:nth-child(6) {
  opacity: 1;
  transform: translateY(-205px);
  transition-delay: 0.75s;
}

}


/* Full screen menu */

.navbar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000c4;
}
.navbar-toggler,
.navbar-brand {
  z-index: 1;
}
.navbar-brand {
  font-size: 1.8em;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-collapse .nav-link {
  font-size: 1.5em;
  letter-spacing: 2px;
  color: #fff;
}
.navbar-collapse .nav-link:hover,
.navbar-collapse .nav-link.active {
  color: darkseagreen;
}
.nav-item:not(:last-child) {
  border-bottom: 1px solid rgb(128, 128, 128);
  padding: 0.2em 4em;
}
@media screen and (min-width: 768px) {
  .nav-item:not(:last-child) {
    padding: 0.5em 8em;
  }
}
.navbar-collapse.show {
  transition: all 0.5s;
}


